#game_container {
	position: relative;
}

#money {
	position: absolute;
	width: 480px;
	height: 640px;
	background: transparent;
	z-index: 1000;
}

canvas {
	background: url('../images/bg.png') center bottom no-repeat;
	border: 1px solid #000;
}